body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
    direction: ltr;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.name-card {
    background-color: #03052f;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    direction: rtl;
}

.name-card h2 {
    margin: 0;
    font-size: 1.5em;
    color: #4CAF50;
}

.name-card p {
    margin: 10px 0;
}

.transliteration {
    font-weight: bold;
    font-style: italic;
}
